@font-face {
  font-family: robotoRegular;
  src: url(fonts/roboto_regular.ttf);
}

* {
  font-family: robotoRegular;
}

.menu-link {
  text-decoration: none;
}

.menu-link:visited {
  color: inherit;
}
